<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Register</title>
</head>
<body>
    <div class="register-container">
        <h1>Register</h1>
        <form action="{{ url_for('register') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" pattern="[a-z0-9]+" title="Only lowercase letters and digits" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <label for="currency">Currency:</label>
            <select id="currency" name="currency" class="form-control" required>
                {% for currency in currencies %}
                    <option value="{{ currency['Currency code (ISO 4217)'] }}">{{ currency['Currency name'] }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="cool-button"><i class="fas fa-user-plus"></i> Register</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
    </div>

    <div id="notification" class="notification"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            {% for category, message in messages %}
                showNotification("{{ message }}", {{ 'true' if category == 'success' else 'false' }});
            {% endfor %}
        });
    </script>
    {% endif %}
    {% endwith %}
</body>
</html>
